
#message-box {
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  border: 3px dotted crimson;
  margin: 5;
  padding: 1px 2px;
}

#message-box ul {
  position: relative;
  bottom: 0;
  list-style: none;
}

input {
  width: 75vw;
  height: 30px;
}

h1 {
  color: cornflowerblue;
  size: 3em;
}

li:nth-child(even) {
  color: blue;
}

li:nth-child(odd) {
  color: red;
}